<h1>Pins#new</h1>

<%= simple_form_for @pin do |f| %>
  <%= f.label :link %>:
  <%= f.text_field :link %><br />
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <%= f.collection_check_boxes(:minor_ids, @minors, :id,:name)%> <br/><br/>
  <%= f.collection_check_boxes(:competence_ids, @competences, :id, :name)%>

	<div id="previewImage"></div>

  <%= f.input_field :image, :as => :hidden %>

  <%= f.submit %>
<% end %>
